/*
 * @Author: linnanli 
 * @Description: dialog 的公用样式 
 * @Date: 2018-02-23 17:38:32 
 * @Last Modified by: linnanli
 * @Last Modified time: 2018-02-25 17:11:51
 */

@import '../../../styles/common/variable.scss';
@import '../../../styles/common/mixin.scss';


/* ====================== alert style =============================*/

.#{$prefix}{
    &-alert-mask{
        @include mask;

        &.black{
            background-color: $mask-color-black;
            border: none;
        }

        &.white{
            background-color: $mask-color-white;
        }
    }
    
    &alert-mask &-alert{
        border: 1px solid #eee;
    }
    //黑色遮罩下面的弹框隐藏border
    &alert-mask.black &-alert{
        border: none;
    }
    
    &-alert{
        min-width: 278px;
        text-align: left;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 5px;
        background-color: #fff;
        transform: translate(-50%,-53%);

        &-head{
            padding: 14px 20px;
            border-bottom: 1px solid #e7e7e7;
            font-size: 16px;
            word-break: break-all;
        }

        &-body{
            padding: 10px 20px 16px 20px;
            font-size: 14px;
            color: #666;
        }

        &-footer{
            text-align: right;
            padding: 16px 20px 14px 20px;
        }

        &-but{
            padding: 0 15px;
            font-size: 12px;
            height: 26px;
            cursor: pointer;
            border-radius: 4px;
        }
        &-confirm{
            border: 1px solid #4794ff;
            background-color: #4794ff;
            color: #fff;

            &:hover{
                background-color: #4087ea;
            }
        }

        &-cancel{
            border: 1px solid #ccc;
            background-color: #fff;
            color: #666;

            &:hover{
                background-color: #f0f0f0;
            }
        }

        

    }
    
}