.ui-dislog-show{
    display: block !important;
}
.ui-dislog-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: none;
    font-family: 'Microsoft YaHei',Georgia,Serif;
    background-color:rgba(255,255,255, 0);
}
.ui-dislog-mask.black{
    background-color:rgba(70, 69, 69, 0.6);
}
.ui-alert{
    min-width: 278px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    /*y轴设置为52%,修复chrome下高度为奇数,元素边框和字体模糊的BUG*/
    -webkit-transform: translate(-50%,-52%);
            transform: translate(-50%,-52%);
}
.ui-alert-head{
    line-height: 16px;
    font-size: 16px;
    text-align: left;
    border-bottom:1px solid #e7e7e7;
    padding: 14px 20px;
    word-break: break-all;
}
.ui-alert-body{
    font-size: 14px;
    color: #666;
    text-align: left;
    padding: 10px 20px 15px 20px;
    word-break:break-all;
}
.ui-alert-foot{
    text-align: right;
    padding: 15px 20px 14px 20px;
}
.ui-alert-but{
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    height: 26px;
    font-size: 12px;
    border-radius: 4px;
}
.ui-alert-but:focus{
    outline: none;
}
.ui-alert-but+.ui-alert-but{
    margin-left: 12px;
}
.ui-alert-confirm{
    background-color: #4794ff;
    border: 1px solid #4794ff;
    color: #fff;
}
.ui-alert-confirm:hover{
    background-color: #4087ea;
}
.ui-alert-cancel{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
}
.ui-alert-cancel:hover{
    background-color: #f0f0f0;
}
/*prompt 部分样式*/
.ui-prompt-contain{
    width: 300px;
}
.ui-prompt-message{
    font-size: 12px;
    margin-bottom: 8px;
}
.ui-prompt-input{
    width: 100%;
    font-size: 12px;
    padding: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
}
.ui-prompt-input:focus{
    outline: #86abe7 solid 1px;
}
/*去除IE input 上的清除按钮*/
.ui-prompt-input::-ms-clear{display:none;}

/*toast*/
.ui-toast{
    min-width: 140px;
    padding:0 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    -webkit-transform: translate(-50%,-20%);
            transform: translate(-50%,-20%);
    background-color: rgba(0, 0, 0, 0.6);
}

