<div class="ui-alert-mask black">
    <div class="ui-alert">
        <div class="ui-alert-head"></div>
        <div class="ui-alert-body">
            <div class="ui-prompt">
                <div class="ui-prompt-text"></div>
                <input type="text" class="ui-prompt-input">
            </div>
        </div>
        <div class="ui-alert-footer">
            <button class="ui-alert-but ui-alert-cancel">取消</button>
            <button class="ui-alert-but ui-alert-confirm">确认</button>
        </div>
    </div>
</div>